<header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
        <a class="navbar-brand" href="/">cooc</a>
        

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">メニュー</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item"><%= link_to "ログイン", login_path %></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><%= link_to "新規登録", signup_path %></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><%= link_to '退会する', @user, method: :delete, data: { confirm: '本当に退会してよろしいですか？' } %></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><%= link_to "ログアウト", logout_path, method: :delete %></li>
                </li>
            </ul>
               
        </div>
            
    </nav>
</header>